<html>
    <head>
        <title>Blog Oficial Excursão Sagrada Família</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Oficial Excursão Sagrada Família</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post "Excursão Para são Paulo"</a></h2>
            <p>no  dia  11  de  Julho  a Excursão  Sagrada Família  fez uma excelente  excursão  para  Aparecida do  Norte-SP</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Excursão Para Trindade -Go </a></h2>
            <p>no  dia  9  de Agosto  estaremos  realizando  uma excursão  para  Trindade  Goiás  saíndo  as 6hrs em  ponto  não  se atrase</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2>Meu  terceiro Post "Sobre viajar sem companhia: um ato de coragem"</h2>
            <p>começo esse post refletindo sobre o medo. Apesar de o Seu Mochilão ser um blog ser de viagens – e prometo tentar me ater à este tema – noto que na maioria das vezes o que nos impede de agir é o medo, seja de ser julgado, de sentir-se solitário, da insegurança e do imprevisível.

Ocorre que todos esses medos são paralisantes e não nos levam a lugar algum. Quando se trata de viagem, literalmente, não nos levam a lugar nenhum.

Não sou expert em pegar minha mochilinha e desbravar o mundo, mas a única coisa que me impede disso atualmente é, basicamente, minha questão financeira. Entretanto, durante anos eu tive que trabalhar minha personalidade, que antes era muito dependente emocionalmente de companhia, para finalmente conseguir agir sem interferência de terceiros.

Acho que na minha busca de autoconhecimento o uso da internet para encontrar posts de incentivo e pessoas com medos similares foi parte relevante do meu processo. Por isso, deixo aqui minhas impressões pessoais e meu desejo para que você, leitor@, talvez com a ajuda desse texto, supere qualquer obstáculo social ou psicológico que lhe impeça de fazer o que quer realmente quer.</p>
        </div>
    </body>
</html>
